# Examples of List Comprehensions

In [12]:
numbers = [0, 1, 2, 3, 4, 5]
names = ["alex", "Beth", "Caroline", "Dave", "Freddie"]

In [5]:
add_one = [1 + _ for _ in numbers]
add_one

[1, 2, 3, 4, 5, 6]

In [6]:
squared_numbers = [number**2 for number in numbers]
squared_numbers

[0, 1, 4, 9, 16, 25]

In [10]:
range_list = [num for num in range(1,10)]
range_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
new_range_list = [n * 2 for n in range (1,5)]
print(new_range_list)

[2, 4, 6, 8]

In [13]:
short_names = [name for name in names if len(name) <= 4]
short_names

['alex', 'Beth', 'Dave']

In [15]:
long_names = [name for name in names if len(name) > 4]
long_names

['Caroline', 'Freddie']

In [17]:
long_names_upper_case = [name.upper() for name in names if len(name) > 4]
long_names_upper_case

['CAROLINE', 'FREDDIE']

In [18]:
even_numbers = [number for number in numbers if number % 2 == 0]
even_numbers

[0, 2, 4]